@media (max-width:768px) {
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}